.inputContainer {
  display: flex;
  flex-direction: column;
  
  textarea {
    height: 11.7rem;
    border: 1px solid var(--gray-100);
    border-radius: 0.5rem;
    resize: none;
  
    padding: 0.5rem;
    color: var(--gray-800);
    font-weight: 500;
    font-size: 1.2rem;

    &::placeholder {
      color: var(--gray-300);
      font-weight: 400;
    }
  }

  label {
    color: var(--redhero);
    font-weight: 700;
    font-size: 0.8rem;
    margin: 0.2rem 0 0.2rem 0.5rem;
  }
}